@mixin buttons {
	.btn {
		border: none;
		outline: none;

		background: #835afd;
		color: #fff;

		border-radius: 0.5rem;
		height: 3rem;
		padding: 0 2rem;

		font-weight: 500;
		font: 40 16px "Roboto", sans-serif;

		cursor: pointer;

		display: flex;
		justify-content: center;
		align-items: center;
	}
	.btn-outlined {
		height: 2rem;
		background: #fff;
		border-width: 1px;
		border-style: solid;
		color: #835afd;
	}
}
@mixin custom-buttons {
	.btn-create-room {
		background-color: #ea4345;
	}
}
@include buttons;
@include custom-buttons;
