.btn-room-code {
	padding: 0;
	height: 2rem;
	border-radius: 0.5rem;
	overflow: hidden;
	background: #fff;
	background: #fff;
	border: 1px solid #835afd;
	cursor: pointer;
	display: flex;
	align-items: stretch;
}
.btn-room-code-icon-container {
	background: #835afd;
	padding: 0 0.8rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn-room-code-text {
	display: block;
	align-self: center;
	flex: 1;
	padding: 0 1rem 0 0.8rem;
	min-width: 5rem;
	max-width: 10rem;
	font-size: 0.9rem;
	font-weight: 500;
	white-space: nowrap;
}
