$color-primary: #835afd;
.page-auth {
	display: flex;
	align-items: stretch;
	height: 100vh;
}
.aside-container {
	flex: 7;
	background: $color-primary;
	color: white;

	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 120px 80px;
	.illustration {
		max-width: 320px;
	}
	.aside-home-title {
		font: 700 36px "Poppins", sans-serif;
		line-height: 42px;
		margin-top: 16px;
	}
	.aside-description {
		font-size: 24px;
		line-height: 32px;
		margin-top: 16px;
		color: #f8f8f8;
	}
}
.home-main-container {
	flex: 8;
	padding: 2rem;

	display: flex;
	align-items: center;
	justify-content: center;
	input {
		height: 3rem;
		padding: 0 1rem;
		background: #fff;
		border: 1px solid #a8a8b3;
		box-sizing: border-box;
	}
	button {
		margin-top: 16px;
	}
	input,
	button {
		width: 100%;
	}
}
.description-form {
	font-size: 0.8rem;
	color: #737380;
	margin-top: 1rem;
}
.home-main-content {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 320px;
	align-items: stretch;
	text-align: center;
	.logo {
		align-self: center;
	}
}
.btn-image {
	margin-right: 0.5rem;
}
.logo {
	margin-bottom: 1rem;
}
